.body {
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden;
}
.btn-profile {
    display: flex;
    background: transparent;
    color: #00a4b4;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
}
.btn-profile .profile-img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}
