.body {
  font-family: "Nunito", sans-serif !important;
  overflow-x: hidden;
}
.btn-profile {
    display: flex;
    background: transparent;
    color: #00a4b4;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    font-weight: 600;
}
.btn-profile .profile-img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}
.acc-box{
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 2.4rem 1.8rem;
    height: 100%;
}
.book-img {
    height: 100px;
    width: 100px;
}
.profile-img {
    width: 90px;
    height: 90px;
    max-width: 90px!important;
}
.btn-primary {
    background-color: #00a4b4;
    font-size: 14px;
    color: #fff;
    border: 1px solid #00a4b4;
    font-weight: 700;
    min-height: 39px;
}


.sidebar {
    background: #fff;
}

.sidebar {
    min-height: 100vh;
}
.sidebar .side-head {
    padding: 30px 20px;
}

.align-items-center {
    align-items: center!important;
}
.justify-content-start {
    justify-content: flex-start!important;
}
.sidebar .menu {
    list-style-type: none;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}
.sidebar .side-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.host-exp .btn-black {
    background: #000;
    color: #fff;
    font-weight: 700;
}
.host-hr {
    width: 90px;
    border-top: 3px solid #00a4b4;
}
.host-exp-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(https://horsebnb.com/banner.jpg
);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.host-exp-bg h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
}
.btn-outline-light {
    border: 2px solid #fff;
    border-radius: 4px;
    min-height: 45px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
}
.btn-primary-outline-lg {
    border: 2px solid #00a4b4;
    border-radius: 6px;
    min-height: 45px;
    background-color: #fff;
    color: #00a4b4;
    font-weight: 700;
}